<nb-layout>
    <nb-layout-column>
        <nb-chat title="Jake" size="medium" status="danger">
            <nb-chat-message *ngFor="let message of messages"
                             [type]="message.type"
                             [message]="message.text"
                             [reply]="message.reply"
                             [sender]="message.user.name"
                             [date]="message.date"
                             [files]="message.files"
                             [quote]="message.quote"
                             [latitude]="message.latitude"
                             [longitude]="message.longitude"
                             [avatar]="message.user.avatar">              
            </nb-chat-message>
            
            <nb-chat-form (send)="sendMessage($event, 'Jake', 'http://www.reactiongifs.com/r/wnd1.gif', true)" [showButton]="false" [dropFiles]="true">
            </nb-chat-form>
        </nb-chat>
      <button type="button" class="btn btn-primary" (click)="openModal(template)">Clear Chat</button>
      <br><br>
      <pre class="card card-block card-header">{{message}}</pre>
   
    <br>
    </nb-layout-column>
</nb-layout>
<ng-template #template>
  <div class="modal-body text-center" data-backdrop="false">
    <p>Do you want to confirm? Star messages...</p>
    <div *ngFor="let message of messages;let idx=index;">
      
     
      <ul>
        <li>
          <nb-card>
            <nb-card-body>
              <nb-checkbox [checked]="ar[idx]==1" (checkedChange)="saveChat(idx,$event)" >{{message.text}}</nb-checkbox>
            </nb-card-body>
          </nb-card>
        </li>
      </ul>
      <ul>
           
      </ul>
    </div>
    <br>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>