<div class="popup">
    <div class="container-fluid" style="background-color: aquamarine;">
         
          <div style="width:400px; height: 30px; text-align: center;">
            <p style = "font-size: 40px; margin-top: 30px" id="time"></p>
          </div>
          <p style = "height: 1px; " id="incrementadd"></p>
          <div style="width:500px;" style="height: 200px;"> 
                <br>
            <button style="font-size:18px;width:180px;"(click)="pause()" class="btn btn-success">pause</button>
            <button style="font-size:18px;width:180px;"(click)="resume()" class="btn btn-success">resume</button>
            <br/><br/><br/>
            <button style="font-size:20px;border:1px dotted orange;width:360px;" (click)="close()">Close</button>
           </div>
      
      </div>
</div>