<!-- <p>push works!</p> -->



<div class="container">

    <h1>Get Notifications!
    </h1>


    <button (click)="notify()">Show Notification</button>

</div>
<BR><BR>

 <label for="time"> Schedule Interval(in minutes)  </label>
<BR>
<input type="text" id="message" name="message"  [(ngModel)]="message">
<button class="button btn-primary"(click)="scheduleTime()" >Set Time</button>
<BR><BR>

    <!-- <label for="EndTime"> Schedule Meeting  </label>
    <BR>
    <input type ="time" id="EndTime" name="EndTime" ngModel="EndTime">
    <button class="button btn-primary"(click)="meetingAlert()" >Schedule Meeting</button> --> -->

    <!-- <div>
        <input type="number" name="hours" min="00" max="23" [(ngModel)]="hours"/>
        <input type="number" name="minutes" min="00" max="59" [(ngModel)]="minutes" />
        <button class="button btn-primary"(click)="meetingAlert()" >Schedule Meeting</button>
        </div> -->
        <!-- <div class ="form">
            <input type = "datetime-local"   [(ngModel)]="EndTime" > 
             <input type = "number"  min="00" max="59" [(ngModel)]="minutes" >  -->
    
            <!-- <button class="button btn-primary"(click)="meetingAlert()" >Schedule Meeting</button>
                    </div> -->
                     -->