<!-- <p>tips works!</p> -->
<!-- <div class="card" style="width: 30rem" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.youtube.com/watch?v=NBe7fzCK2V0"  class="card-link" >Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->
  <div class="container">
  <h2>RELIEVE YOUR EYE STRAIN!</h2>
  <youtube-player 
  videoId="w2AOIFxGEvk" 
  suggestedQuality="highres" 
  [height]="400" 
  [width]="700" 
  >
</youtube-player></div>
<BR><BR><BR>

  <div class="container">
    <h2>WFH?..RELAX YOURSELF WITH SIMPLE YOGA!</h2>
    <youtube-player 
    videoId="3x0kxUkfecg" 
    suggestedQuality="highres" 
    [height]="400" 
    [width]="700" 
    >
  </youtube-player></div>
    <BR><BR><BR>
      <div class="container">
        <h2>WANNA LISTEN TO SOME PEACEFUL MUSIC?</h2>
        <youtube-player 
        videoId="koRbYQyPU0U" 
        suggestedQuality="highres" 
        [height]="400" 
        [width]="700" 
        >
      </youtube-player></div>
      <BR><BR><BR>
      <div class="container">
        <h2>IMPROVE YOUR FITNESS!</h2>
        <youtube-player 
        videoId="v=AzV3EA-1-yM" 
        suggestedQuality="highres" 
        [height]="400" 
        [width]="700" 
        >
      </youtube-player></div>
    <BR><BR><BR>
      <div class="container">
        <h2>Here are Tips To INCREASE YOUR SLEEP QUALITY!</h2>
        <youtube-player 
        videoId="7ArZ9GK4AIQ" 
        suggestedQuality="highres" 
        [height]="400" 
        [width]="700" 
        >
      </youtube-player></div>
      <BR><BR><BR>
      <div class="container">
        <h2>INTERESTED IN SOME WORLD MYSTERIES? Here you GO!!</h2>
        <youtube-player 
        videoId="aIQRWq3S8fE" 
        suggestedQuality="highres" 
        [height]="400" 
        [width]="700" 
        >
      </youtube-player></div>

  